{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<section class="home-title-section">
  <h1 class="hover-header home-title">
    The Collective Wheel
  </h1>

  <p class="home-subtitle">
    Welcome to a networked space where every visitor
    <strong>changes the global wheel</strong>.
    Add your own options, spin the wheel, and watch how each outcome
    transforms the leaderboard for everyone.
  </p>
  <br>
  <p class="home-subtitle">What You Can Do</p>

  <ul class="home-subtitle">
    <li>Add new options to the global wheel</li>
    <li>Delete options</li>
    <li>Edit the wheel's title</li>
    <li>Spin the wheel as many times as you want</li>
    <li>View a live leaderboard of the most winning options</li>
  </ul>
</section>

<div class="section-divider"></div>

<section class="home-buttons">
  <div class="home-card">
    <a class="btn btn-decide" href="{{ url_for('wheelPage', wheel_id='GLOBAL_WHEEL') }}">
      Spin The Global Wheel
    </a>
    <p>Add an option, spin the wheel, and see how your result changes the leaderboard.</p>
  </div>
</section>

{% endblock %}