@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  background: #000;
  color: #ffffff;
  font-size: 1.1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inspiration-quote{
     text-shadow: 0 0 15px #6a00ff;
     padding: 5px;
}
/* Scanline effect */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    rgba(0, 255, 102, 0.02) 0px,
    rgba(0, 255, 102, 0.02) 1px,
    transparent 2px,
    transparent 3px
  );
  pointer-events: none;
}

.container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  background: rgba(10, 0, 30, 0.2);
}
 
.entry-content {
  font-size:large;
}

.week-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

header {
  text-align: center;
  padding: 30px 20px;
  border: 1px solid #6a00ff;
  margin-bottom: 40px;
  box-shadow: 0 0 12px rgba(102, 204, 255, 0.2);
}

header h1 {
  font-size: 3em;
  color: #ffffff;
  text-shadow: 0 0 15px #6a00ff;
  margin-top: 0.3em;
  
}

header p {
  font-size: 1.1em;

}

a {
  text-decoration: none;
  color: #6a00ff;
  border: 1px solid #6a00ff;
  padding: 6px 12px;
  transition: 0.3s ease;
}

a:hover {
  color: #ffffff;
}

.entry-card {
  display: block;
  background: rgba(10, 0, 30, 0.8);
  border: 1px solid #6a00ff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #b366ff;
}

.entry-card h3 {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

.entry-card:hover {
  box-shadow: 0 0 25px #b366ff;
}

.entry-image {
  width: 50%;
  height: auto;
  display: block; 
  margin: 15px auto;
  border: 1px solid #6a00ff;
  box-shadow: 0 0 15px #6a00ff;
}

.journal-entry {
  border: 1px solid #6a00ff;
  padding: 30px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.journal-entry a {
  border: none;
  padding: 0;
}

.journal-entry h3 {
  color: #b366ff;
  margin: 20px 0 10px;
}

.journal-index {
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid #6a00ff;
  box-shadow: 0 0 12px rgba(102, 204, 255, 0.2);

}

.journal-index h2 {
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-size:2em;
  text-shadow: 0 0 10px #6a00ff;
  border-bottom: 2px dashed #6a00ff;
}

footer {
  text-align: center;
    padding: 20px;
    border-top: 1px dashed #6a00ff;
    text-shadow: 0 0 5px #6a00ff;
}

